<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="../static/js/lib/echarts.min.js"></script>
  <script type="module" src="../static/js/view.js"></script>
  <title>Document</title>
</head>
<style>
  body {
    width: 100%;
    height: 500px;
  }

  body {
    overflow-x: scroll;
  }

  body::-webkit-scrollbar {
    width: 0 !important
  }
</style>

<body>
  <h3>基于 Echarts 实现的散点图</h3>
  <div class="ScatterView" id="ScatterView" style="width: 100%;height: 500px"></div>
  <div class="ScatterView2" id="ScatterView2" style="width: 100%;height: 500px"></div>
</body>

</html>